parameters:
    stubFiles:
        - Stubs/Psr/Log/LoggerInterface.stub

services:
	-
		class: Spark\Dev\StaticAnalyze\PHPStan\Type\ContainerDynamicReturnTypeExtension
		tags:
			- phpstan.broker.dynamicMethodReturnTypeExtension